.loginPage {
    background: url('img/loginBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;

    
}

.loginForm {
    background: #ffffff;
    padding: 2rem;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
}



